/* Reset */
* {
    border: none;
    box-sizing: border-box;
    color: inherit;
    font-family: "Cousine", monospace;
    font-weight: normal;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

/* Global */
:root {
    --space-width: calc(100vmin);
    --o: rgb(127, 127, 255);
    --x: rgb(255, 127, 127);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --off-black: rgb(16, 16, 16);
    --off-white: rgb(239, 239, 239);
    --red: rgb(155, 0, 0);
    --bright-yellow: rgb(255, 255, 175);
    --tan: rgb(245, 245, 220);
    --light-green: rgb(127, 159, 155);
    --medium-green: rgb(80, 143, 145);
    --dark-green: rgb(13, 88, 97);
    --contrast: 0.01em 0.01em 0.03em var(--off-white), -0.01em -0.01em 0.03em var(--off-black), 0 0 0.06em #888;
}

:root.dark {
    --black: rgb(255, 255, 255);
    --white: rgb(0, 0, 0);
    --off-white: rgb(228, 228, 228);
    --off-black: rgb(15, 15, 15);
    --bright-yellow: rgb(223, 223, 143);
    --tan: rgb(163, 163, 147);
    --light-green: rgb(64, 80, 78);
    --medium-green: rgb(40, 72, 73);
    --dark-green: rgb(7, 44, 49);
}

html {
    background-color: var(--medium-green);
    color: var(--black);
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}

.svg-o {
    fill: var(--o);
}

.svg-x {
    fill: var(--x);
}

.svg-back {
    fill: var(--light-green);
}

.svg-grid {
    fill: var(--tan);
}

h2,
h3,
h4 {
    font-family: "Lora", serif;
    padding: 0.25em;
    text-shadow: var(--contrast);
}

hr {
    border: 1px solid var(--dark-green);
    margin: 0.5em;
}

:focus-visible {
    outline: 2px solid var(--red);
    box-shadow: 0 0 4px var(--red);
}

/* Header*/
header {
    background-color: var(--dark-green);
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 4em auto 4em;
    position: relative;
    text-align: center;
    z-index: 10;
}

.logo {
    border-radius: 25%;
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 4em;
    text-align: center;
    width: 4em;
    padding: 4px;
    z-index: 4;
}

header h1 {
    color: var(--off-white);
    font-family: "Lora", serif;
    grid-row: 1/2;
    margin: auto 0.25em;
    text-align: center;
}

#menu {
    background: none;
    background-color: var(--dark-green);
    border-radius: 12px;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-family: "Cousine", monospace;
    font-size: 1.5rem;
    height: 32px;
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    width: 32px;
    z-index: 5;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

#darkmode-button {
    display: none;
}

/* Nav */
.nav {
    background-color: var(--dark-green);
    border-bottom: 1px solid var(--dark-green);
    display: flex;
    grid-column: 1/4;
    grid-row: 1/2;
    flex-direction: column;
    position: fixed;
    text-align: center;
    width: 100%;
}

.nav a,
#darkmode-nav {
    background-color: var(--off-white);
    color: var(--dark-green);
    cursor: pointer;
    display: none;
    font-size: 1.4em;
    justify-content: center;
    padding: 0.25em;
    text-decoration: none;
}

.nav a:hover,
#darkmode-nav:hover {
    background-color: var(--bright-yellow);
    text-shadow: 0px 0px 3px var(--light-green);
}

.open a,
.open #darkmode-nav {
    display: flex;
}

#darkmode-nav::after {
    content: '🌙';
}

#darkmode-nav.dark::after {
    content: '☀️';
}

.nav .active {
    background-color: var(--bright-yellow);
    box-shadow: 0 0 4px var(--light-green);
}

.nav .active:hover {
    text-shadow: none;
}

/* Main */
main {
    background-color: var(--tan);
    padding: 4px 2px;
}

/* Footer */
footer {
    background-color: var(--dark-green);
    display: grid;
    grid-template-rows: 60% 20% 20%;
    height: 100%;
    padding: 10px;
    text-align: center;
}

footer p {
    color: var(--off-white);
    grid-row: 2/3;
    padding: 6px 0;
}

#lastModified {
    color: var(--bright-yellow);
    font-size: 0.9em;
    grid-row: 3/4;
}

#footer-links {
    display: flex;
    flex-wrap: wrap;
    grid-row: 1/2;
    justify-content: space-around;
}

#footer-links a {
    color: var(--off-white);
    padding: 1em 0;
}