/* Global */
.center {
    text-align: center;
}

/* Main */
#site-name p:first-of-type {
    background-color: var(--dark-green);
    color: var(--bright-yellow);
    margin: 0.5em auto;
    padding: 0.25em;
    width: 50%;
}

#site-name p:nth-of-type(2) {
    font-style: italic;
    margin-bottom: 0.25em;
}

li {
    list-style: none;
    text-align: center;
}

#color-container {
    background-color: rgb(85, 85, 85);
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(11, 8% .33333333%) 8%;
    margin: 0 auto;
    max-width: 90%;
    padding: 0 1em 1em;
    width: 100%;
}

#color-container>p {
    color: var(--bright-yellow);
    grid-column: 9/16;
    margin: 0.25em;
    padding-top: 0.5em;
    text-align: center;
}

.color {
    border: 1px solid;
    padding: 1em 0;
    width: 100%;
}

.tan {
    background-color: var(--tan);
    color: #000;
    grid-column: 1/6;
}

.dark-green {
    background-color: var(--dark-green);
    color: #fff;
    grid-column: 7/12;
}

.medium-green {
    background-color: var(--medium-green);
    color: #000;
    grid-column: 13/18;
}

.light-green {
    background-color: var(--light-green);
    color: #000;
    grid-column: 19/24;
}

.bright-yellow {
    background-color: var(--bright-yellow);
    color: #000;
    grid-column: 1/12;
}

.off-white {
    background-color: var(--off-white);
    color: #000;
    grid-column: 13/24;
}

.red {
    background-color: var(--red);
    color: #fff;
    grid-column: 1/8;
}

.black {
    background-color: #000;
    color: #fff;
    grid-column: 9/16;
}

.white {
    background-color: #fff;
    color: #000;
    grid-column: 17/24;
}

.color p {
    text-align: center;
}

#color-context {
    background-color: var(--dark-green);
    margin-top: 1em;
    padding: 0.25em;
    text-align: center;
}

#color-context h3 {
    color: var(--off-white);
}

#color-context hr {
    border-color: var(--off-white);
}

#color-context p {
    color: var(--bright-yellow);
}

#color-context div {
    background-color: var(--tan);
    margin-top: 0.5em;
    padding: 0.125em;
}

#color-context div p {
    color: var(--dark-green);
}

#font-container {
    background-color: var(--light-green);
    display: grid;
    grid-template-columns: 50% 50%;
}

.lora {
    font-family: "Lora", serif;
}

.cousine {
    font-family: "Cousine", monospace;
}

#wireframe {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

#wireframe-text {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 auto;
    padding: 0.5em 1em;
    width: 100%;
}

#wireframe img {
    height: auto;
    margin: 1em auto;
    max-height: 100%;
    max-width: 100%;
    padding: 0 4px;
    width: auto;
}

#wireframe-desktop {
    grid-column: 1/2;
    grid-row: 2/3;
}

#wireframe-mobile {
    grid-column: 1/2;
    grid-row: 3/4;
}

@media screen and (min-width: 1160px) {
    #wireframe {
        background-color: unset;
        box-shadow: none;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        max-width: 100%;
    }

    #wireframe-text {
        background-color: var(--off-white);
        box-shadow: 0px 0px 4px var(--light-green);
        grid-column: 1/3;
        width: 66%;
    }

    #wireframe-mobile {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}