/* Reset Useragent CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    word-wrap: break-word;
}

/* Globals */
hr {
    margin: 1em 3em;
    border: 1px inset;
}

h1 {
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: "Lora", serif;
}

h3 {
    text-align: center;
    margin: 2em 0 0 0;
}

img {
    border: #1e5d5f solid 2px;
    box-shadow: #333 1px 1px;
}

ul {
    height: 90%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    margin-left: 2em;
    font-size: 1.1em;
}

a {
    color: #1e5d5f;
}

a:visited {
    color: #464987;
}

/* Body */
body {
    background-color: #508f91;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Cousine", monospace;
}

/* Header */
header {
    background-color: #1e5d5f;
}

#header_name {
    color: #ffffaf;
}

/* Nav */
#nav {
    display: flex;
    background-color: #444;
}

#nav a {
    flex: auto;
    text-align: center;
    height: 100%;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

#nav a:hover {
    background-color: #333;
    color: #6495ed;
    box-shadow: #999 2px 2px, #999 -1px -1px, #999 2px -1px, #999 -1px 2px;
    text-shadow: #2051a9 2px 2px;
}

/* Main */
main {
    background-color: beige;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 16px 8px;
}

.card {
    background-color: azure;
    border: #444 solid 2px;
    border-radius: 10px;
    overflow: hidden;
    margin: 4px;
}

.card h2 {
    color: white;
    background-color: #1e5d5f;
    margin: 0;
    border-bottom: #444 solid 2px;
    padding: 8px;
    text-align: center;
    font-family: "Lora", serif;
}

.card-text {
    color: black;
    margin: 16px;
}

.selfie {
    float: right;
    width: 20%;
    margin: 8px 8px 8px 16px;
}

.san-diego-map {
    float: left;
    width: 10em;
    margin: 0px 16px 32px 8px;
}

.san-diego-map-image {
    width: 100%;
}

.san-diego-map-text {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    margin: 0;
}

/* Footer */
footer {
    background-color: #1e5d5f;
    text-align: center;
    height: 78px;
}

footer p {
    color: white;
    padding-top: 8px;
}

#lastModified {
    color: #ffffaf;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 1.25em;
    }

    h3 {
        margin: 1em 0 0 0;
    }

    ul {
        margin-top: 8px;
    }

    #nav {
        flex-direction: column;
    }

    #nav a {
        padding: 4px;
        font-size: 1em;
    }

    #nav a:hover {
        box-shadow: none;
    }

    main {
        display: block;
    }

    .card h2 {
        padding: 4px;
    }
}