/* Reset Useragent CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    word-wrap: break-word;
}

:root {
    font-family: "Lora", serif;
    max-width: 1338px;
    margin: 0 auto;
    --danish-red: #d00c33;
    --pale-danish-red: #e88699;
    --lego-yellow: #ffee00;
    --f: #fff;
    --b: #000;
}

#content {
    display: grid;
    grid-template-rows: auto;
    text-align: center;
}

/* Header */
header {
    background-color: var(--pale-danish-red);
}

h1 {
    background-color: var(--danish-red);
    color: var(--f);
    font-family: "Cousine", monospace;
    font-style: italic;
    margin-bottom: 0.4em;
    padding-top: 0.55em;
    padding-bottom: 0.5em;
    text-shadow: 1px 2px 0.75px var(--b), 1.5px 2.5px var(--lego-yellow);
    width: 100%;
}

/* Main */
#hero {
    background-color: var(--pale-danish-red);
}

img {
    width: 100%;
    height: auto;
}

section {
    border-bottom: 1px solid var(--pale-danish-red);
    display: grid;
    grid-template-columns: auto 4em auto;
    grid-template-rows: auto;
    padding: 1em;
}

h2 {
    grid-column: 1/4;
}

ul {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
    line-height: 1.2em;
    list-style-type: none;
}

li {
    margin: 0 0.125em;
}

li:nth-child(odd) {
    grid-column-end: 2;
    font-weight: bold;
    text-align: right;
}

li:nth-child(even) {
    grid-column-start: 2;
    text-align: left;
}

/* SVG */
svg {
    grid-column: 2/3;
}

.cls-1 {
    fill: var(--lego-yellow);
    stroke: var(--b);
    stroke-miterlimit: 10;
}

.cls-2 {
    stroke: var(--b);
    stroke-miterlimit: 10;
    fill: var(--b);
}

.cls-4 {
    fill: var(--f);
}

/* Footer */
footer {
    background-color: var(--danish-red);
    text-align: center;
    font-family: "Cousine", monospace;
    height: 100%;
    padding: 1.7em 0 .5em;
}

footer p {
    color: var(--f);
    padding: 0.25rem;
}

#lastModified {
    color: var(--lego-yellow);
    font-size: 1.25em;
}