/* Reset */
* {
    border: 0;
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

/* Globals */
html {
    background-color: #508f91;
    font-family: "Cousine", monospace;
}

h1 {
    color: #fff;
    font-family: "Lora", serif;
    font-size: 2em;
    padding: 20px;
}

h2 {
    font-family: "Lora", serif;
    padding: 1em 0;
    text-align: center;
}

/* Header */
header {
    background-color: #1e5d5f;
}

#menu {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-family: "Cousine", monospace;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.nav {
    background-color: inherit;
    display: flex;
    flex-direction: column;
}

.nav a {
    color: #fff;
    display: none;
    font-size: 1.4em;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.nav a:hover {
    background-color: #003f37;
    box-shadow: #003f37 1px 1px, #003f37 -1px -1px, #003f37 1px -1px, #003f37 -1px 1px;
    text-shadow: #7f9f9b 2px 2px;
}

.nav a.active {
    background-color: #58a1a3;
    color: #000;
}

.nav a.active:hover {
    box-shadow: unset;
    text-shadow: #1e5d5f 1px 1px;
}

.open a {
    display: block;
}

/* Main */
main {
    background-color: #f5f5dc;
    margin: 0 auto;
    max-width: 1000px;
}

#temple-album {
    display: grid;
    gap: 2rem 16px;
    grid-template-columns: 1fr;
}

figure {
    display: grid;
}

img {
    width: 100%;
    height: auto;
    padding: .5rem;
}

figcaption {
    font-size: 0.8em;
    text-align: center;
}

/* Footer */
footer {
    background-color: #1e5d5f;
    height: 100%;
    padding: 10px;
    text-align: center;
}

footer p {
    color: white;
    padding: 6px 0;
}

#lastModified {
    color: #ffffaf;
    font-size: 0.9em;
}