/* Reset Useragent CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    word-wrap: break-word;
}

h1 {
    font-size: 2em;
    color: white;
    padding: 20px;
    font-family: "Lora", serif;
}

h2 {
    font-family: "Lora", serif;
    text-align: center;
    padding: 1em 0;
}

a {
    color: #1e5d5f;
}

a:visited {
    color: #464987;
}

/* Body */
body {
    background-color: #508f91;
}

#content {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 18fr 1fr;
    font-family: "Cousine", monospace;
}

/* Header */
header {
    background-color: #1e5d5f;
    grid-column: 1/4;
    height: 5rem;
}

/* Menu Button*/
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

/* Nav */
.nav {
    display: flex;
    flex-direction: column;
    background-color: #444;
}

.nav a {
    display: none;
    text-align: center;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

.nav a:hover {
    background-color: #333;
    color: #6495ed;
    box-shadow: #999 1px 1px, #999 -1px -1px, #999 1px -1px, #999 -1px 1px;
    text-shadow: #2051a9 2px 2px;
}

.open a {
    display: block;
}

.active {
    background-color: #666;
}
.nav .active:hover {
    background-color: #666;
}

/* Main */
main {
    grid-column: 2/3;
    background-color: beige;
    padding: 1em;
}

#temple-album {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
}

figure img {
    width: 100%;
}

figcaption {
    text-align: center;
    font-size: 0.8em;
}

/* Footer */
footer {
    background-color: #1e5d5f;
    text-align: center;
    height: 100%;
    padding: 10px;
    grid-column: 1/4;
}

footer p {
    color: white;
    padding: 6px 0;
}

#lastModified {
    color: #ffffaf;
    font-size: 0.9em;
}