* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    word-wrap: break-word;
}

body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: #99a8d6 solid 1px;
    padding: 1rem;
    background-color: #aabbee;
}

main {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
}

section {
    background-color: white;
    padding: 2rem 1rem;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    padding: 8px;
}

.italic {
    font-style: italic;
}